  <form name="form" novalidate>
    <div class="row">
	    <div class="col col-100 text-center">
	    	<h4>Registro</h4>
	    </div>		
    </div>
    <div class="list list-inset">
	    <div class="col col-100 text-center">
		  <label class="item item-input">
		    <span class="col col-40 text-left input-label">Nombre</span>
		    <input class="col col-60 text-center" type="text" placeholder="Nombre">
		  </label>
		</div>
	    <div class="col col-100 text-center">
		  <label class="item item-input">
		    <span class="col col-40 text-left input-label">Apellido</span>
		    <input class="col col-60 text-center" type="text" placeholder="Apellido">
		  </label>
		</div>
	    <div class="col col-100 text-center">
		  <label class="item item-input">
		    <span class="col col-40 text-left input-label">Email</span>
		    <input class="col col-60 text-center" type="email" placeholder="Email">
		  </label>
		</div>
	    <div class="col col-100 text-center">
		  <label class="item item-input">
		    <span class="col col-40 text-left input-label">Usuario</span>
		    <input class="col col-60 text-center" type="text" placeholder="Nombre de usuario">
		  </label>
		</div>
	    <div class="col col-100 text-center">
		  <label class="item item-input">
		    <span class="col col-40 text-left input-label">Contraseña</span>
		    <input class="col col-60 text-center" type="password" placeholder="Contraseña">
		  </label>
		</div>
	    <div class="col col-100 text-center">
		  <label class="item item-input">
		    <span class="col col-40 text-left input-label">Repetir contraseña</span>
		    <input class="col col-60 text-center" type="password" placeholder="Repetir contraseña">
		  </label>
		</div>

	</div>
	<div class="row">
		<div class="col col-60 col-offset-20 text-center">
			<button class="button button-block button-positive"> Registrar</button>		
		</div>    
	</div>
  </form>