<div class="row text-center">
	<div class="col m12 text-center">
		<img src="img/ProyectoLogo.png" style="width: 20em">		
	</div>
</div>
<div class="row">
	<div class="col col-100 text-center">
		<button class="button button-block button-positive icon-left ion-social-facebook">Facebook</button>
	</div>
</div>
<div class="row">
	<div class="col col-100 text-center">
		<button class="button button-block button-calm icon-left ion-social-twitter">Twitter</button>
	</div>
</div>
<div class="row">
	<div class="col col-100 text-center">
		<button class="button button-block button-assertive icon-left ion-social-googleplus">Google+</button>
	</div>
</div>
<div class="row">
	<div class="col col-100 text-center">
		<button class="button button-block button-balanced" ui-sref="nuevoRegistro">Registrarse</button>
	</div>
</div>
<div class="row">
	<div class="col col-100 text-center">
		<button class="button button-block button-stable" ui-sref="vistaMapa">Invitado</button>
	</div>
</div>